<!DOCTYPE html>
<html>
<head>
    <title>Bookstars</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout ({{ user.username }})</button>
            </form>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>